---
const coffeeUrl = 'https://buymeacoffee.com/five5stones';
---

<aside class="admin-coffee-note">
  <p>Saved you some time? You can say thanks with a coffee ☕</p>
  <a href={coffeeUrl} class="admin-coffee-link" target="_blank" rel="noopener noreferrer">
    Buy me a coffee
  </a>
</aside>
